        <!---------------------- Show me only on Desktop START --------------------->
        <h1 class="masthead-strap m-text-center fs-32 fs-32--10-vw caps m-t-60 tl-m-t-0 t-m-t-20 hide-mobile">
          Torch fat.<br>
          <em>Keep muscle</em>.<br>
          Feel strong.
        </h1>
        <p class="hide-mobile">
          Achieve your body goals. Quicker and easier. With the world's most advanced fat loss support.
        </p>
        <!---------------------- Show me only on Desktop END --------------------->

        <!-- Show me only on Desktop START -->
        <h1 class="masthead-strap m-text-center fs-32 fs-32--10-vw caps m-t-60 tl-m-t-0 t-m-t-20 hide-mobile">
          Torch fat.<br>
          <em>Keep muscle</em>.<br>
          Feel strong.
        </h1>
        <p class="hide-mobile">
          Achieve your body goals. Quicker and easier. With the world's most advanced fat loss support.
        </p>
        <!-- Show me only on Desktop END -->
        
        <!-- Show me only on Desktop START -->
        <h1 class="masthead-strap m-text-center fs-32 fs-32--10-vw caps m-t-60 tl-m-t-0 t-m-t-20 hide-mobile">
          Torch fat.<br>
          <em>Keep muscle</em>.<br>
          Feel strong.
        </h1>
        <p class="hide-mobile">
          Achieve your body goals. Quicker and easier. With the world's most advanced fat loss support.
        </p>
        <!-- Show me only on Desktop END -->
